---
import ItemPreview from "@components/ItemPreview.astro";
import Layout from "@layouts/Layout.astro";

const req = await fetch(`${import.meta.env.HN_API}/topstories.json`);
const data: undefined | number[] = await req.json();
if (!data) return Astro.redirect("/404");

const posts = await Promise.all(
  data.map((id) =>
    fetch(`${import.meta.env.HN_API}/item/${id}.json`).then(async (resp) => await resp.json())
  )
);
---

<Layout title="News">
  <div class="flex flex-col gap-3">
    {posts.map((post) => post.type == "story" && <ItemPreview data={post} />)}
  </div>
</Layout>
