---
import ItemPreview from "@components/ItemPreview.astro";
import Layout from "@layouts/Layout.astro";
import getPage from "@modules/getPage";

const req = await fetch(`${import.meta.env.HN_API}/topstories.json`);
const page = getPage(Astro);

const data: undefined | number[] = await req.json();
if (!data) return Astro.redirect("/404");

const posts = await Promise.all(
  data
    .splice(20 * (page - 1), 20)
    .map((id) =>
      fetch(`${import.meta.env.HN_API}/item/${id}.json`).then(async (resp) => await resp.json())
    )
);

if (posts.length == 0) return Astro.redirect("/404");
const isLastPage = posts.length < 20;
---

<Layout title="News">
  <div class="flex flex-col gap-3">
    {posts.map((post) => post.type == "story" && <ItemPreview data={post} />)}
  </div>
  {
    !isLastPage && (
      <div class="flex w-full justify-center gap-3">
        <a href={`/?p=${page + 1}`}>View more</a>
      </div>
    )
  }
</Layout>
