---
import { Icon } from "astro-icon/components";

const categories = [
  {
    label: "Trending",
    icon: "star",
    filter: null,
  },
  {
    label: "Most upvoted",
    icon: "upvote",
    filter: "top",
  },
  {
    label: "Newest",
    icon: "clock",
    filter: "new",
  },
];
---

<div class="flex justify-center gap-3 text-sm sm:justify-start sm:text-base">
  {
    categories.map((c) => (
      <a href="" class="flex items-center justify-center gap-1">
        <Icon name={c.icon} class="h-5 w-5" />
        <span>{c.label}</span>
      </a>
    ))
  }
</div>
