---
import url from "url";
const currentPage = Astro.url.searchParams.get("page");
const currentFilter = Astro.url.searchParams.get("filter");

const parsedUrl = url.parse(Astro.url.pathname, true);
parsedUrl.query["page"] = currentPage ? String(Number(currentPage) + 1) : "2";
if (currentFilter) parsedUrl.query["filter"] = currentFilter;

const nextPageUrl = url.format(parsedUrl);
---

<div class="flex w-full items-center justify-center">
  <a href={nextPageUrl}>View more</a>
</div>
