---
import SearchIcon from "@components/icons/Search.astro";

interface Props {
  query?: string;
}

const { query } = Astro.props;
---

<form class="flex w-full justify-center" method="get" action="/search">
  <input
    type="text"
    class="w-full rounded-tl-md border-y border-l border-gray-300 bg-white p-1 pl-3 pr-3 focus:outline-none focus:ring-2 focus:ring-blue-500 dark:border-neutral-500/40 dark:bg-black dark:focus:ring-blue-400"
    placeholder="Search..."
    name="q"
    id="q"
    value={query}
  />
  <button type="submit" class="rounded-tr-md border border-gray-300 p-2 dark:border-neutral-500/40">
    <SearchIcon />
  </button>
</form>
