---
import Navigation from "@components/Navigation.astro";
import Footer from "@components/Footer.astro";
import getMetaTags from "@modules/getMetaTags";

export interface Props {
  title: string;
  description?: string;
}

const { title, description } = getMetaTags(Astro.props.title, Astro.props.description);
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="og:title" content={title} />
    <meta name="og:description" content={description} />
  </head>
  <body>
    <body class="min-w-fold bg-neutral-900 text-white">
      <Navigation />
      <div class="px-3">
        <slot />
      </div>
      <Footer />
    </body>
  </body>
</html>

<style is:global>
  p {
    padding-top: 1vh;
    padding-bottom: 1vh;
  }
  code {
    display: block;
    margin: 0 0 1em;
    white-space: pre-wrap;
  }
</style>
