---
import Navigation from "@components/Navigation.astro";
import Filters from "@components/Filters.astro";
import Footer from "@components/Footer.astro";
import getMetaTags from "@modules/getMetaTags";

export interface Props {
  title: string;
}

const { title, description } = getMetaTags(Astro.props.title);
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="og:title" content={title} />
    <meta name="og:description" content={description} />
  </head>
  <body>
    <body class="min-w-fold bg-neutral-900 text-white">
      <Navigation />
      <main
        class="m-auto flex w-full max-w-screen-md flex-col gap-3 border-neutral-500/40 p-3 md:border-x"
      >
        <!-- Show filters on all pages using this layout other than profiles -->
        {
          !Astro.url.pathname.startsWith("/@") && !Astro.url.pathname.startsWith("/search") && (
            <Filters />
          )
        }
        <slot />
      </main>
      <Footer />
    </body>
  </body>
</html>
